body {
	background-color: #EEE;
	padding-top: 60px;
	}

/*  --  NAVBAR  --  */
.navbar .nav.pull-right {
	margin-right: 1.5%;
	}
.navbar-search input.search-query {
	width: 100px;
	font-size: 14px;
	line-height: 20px;
	}

/*  --  LAYOUT & CONTENT  --  */
.row {
	margin: 0;
	}

/*  --  BUTTONS  --  */
#buttons ul li {
	float: left;
	width: 100%;
	width: 24.5%;
	margin-bottom: 1.5%;
	margin-right: 0.5%;
	display: none;
	}
#buttons ul li a {
	width: 93%;
	text-align: center;
	padding: 15px 0.5%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	}

/*  --  VIEWPORTS  --  */

/*  --  VIEWPORT: DESKTOP  --  */
@media (min-width: 1200px) {
	#buttons ul li {
		width: 19.5%;
		}
	}

/*  --  VIEWPORT: TABLE LANDSCAPE  --  */
@media (min-width: 980px) and (max-width: 1199px) {
	#buttons ul li {
		width: 24.5%;
		}
	}

/*  --  VIEWPORT: TABLET PORTRAIT  --  */
@media (min-width: 768px) and (max-width: 979px) {
	#buttons ul li {
		width: 32.5%;
		}
	}

/*  --  VIEWPORT: PHONE LANDSCAPE  --  */
@media (max-width: 767px) {
	#buttons ul li {
		width: 49.5%;
		}
	}

/*  --  VIEWPORT: PHONE PORTRAIT  --  */
@media (max-width: 480px) {
	#buttons ul li {
		width: 99.5%;
		}
	}

/*  --  VIEWPORT: TABLET PORTRAIT & LOWER  --  */
@media (max-width: 979px) {
	body {
		padding-top: 0;
		}
	.navbar .brand {
		display: block;
		float: none;
		padding-left: 10px;
		padding-right: 10px;
		text-align: center;
		}
	}
